.row
    .col-xl-3.col-md-6
        sb-card-view-details(
            link='/dashboard',
            class="cardDashboard"
        )
            .card-body Primary Card

    .col-xl-3.col-md-6
        sb-card-view-details(
            link='/dashboard',
            class="cardDashboard"
        )
            .card-body Warning Card

    .col-xl-3.col-md-6
        sb-card-view-details(
            link='/dashboard',
            class="cardDashboard"
        )
            .card-body Success Card

